.grid {
  margin-top: 2rem;
  height: 100vh;
}

.row {
  height: 1rem;
  display: block;
}

#reset {
  margin-right: 1rem;
}

button {
  margin-top: 1rem;
  background-color: #368198;
  color: white;
  font-weight: 500;
}

button:hover,
button:active,
button:focus {
  cursor: pointer;
  background-color: #0e4f1f;
  outline: none;
  font-weight: bold;
}

.backdrop {
  position: fixed;
  top: 0;
  /* display: none; */
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  /* display: none; */
  z-index: 200;
  top: 20%;
  left: 35%;
  width: 25%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 0 0;
  color: #0e4f1f;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}


@media (max-width: 400px) {
  .grid {
    margin-top: 1rem;
  }
  
}

@media (max-height: 700px) {
  .grid {
    margin-top: .5rem;
  }
}

@media (max-width: 30rem) {
  .modal {
    width: 50%;
    left: 21%;
  }

  .modal__title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}

